.u-section-1 .u-sheet-1 {
  min-height: 4254px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  width: auto;
  margin: -1743px auto 60px;
}

.u-section-1 .u-video-1 {
  width: 245px;
  height: 568px;
  margin: 10px auto 60px;
}

.u-section-1 .u-video-2 {
  height: 345px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-video-3 {
  height: 601px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-video-4 {
  width: 246px;
  height: 375px;
  margin: 30px auto 60px 0;
}

.u-section-1 .u-video-5 {
  height: 604px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-video-6 {
  height: 194px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-video-7 {
  height: 192px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.u-section-1 .u-video-8 {
  height: 600px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-video-9 {
  height: 600px;
  margin-top: 10px;
  margin-bottom: 60px;
  width: 100%;
}

.u-section-1 .u-video-10 {
  height: 600px;
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4255px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
    margin-bottom: 0;
  }

  .u-section-1 .u-video-1 {
    height: 195px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-video-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-video-4 {
    height: 191px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-video-5 {
    height: 600px;
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
  }

  .u-section-1 .u-video-7 {
    margin-bottom: 0;
  }

  .u-section-1 .u-video-8 {
    margin-top: 10px;
  }

  .u-section-1 .u-video-9 {
    margin-bottom: 0;
    width: auto;
  }

  .u-section-1 .u-video-10 {
    width: auto;
  }
}

.mask {
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  margin: auto;
  width: 75px;
  height: 75px;
  border: 10px solid rgba(118, 109, 189, 0.6);
  border-radius: 50%;
  border-left-color: #ffffff;
  animation: loader 1.3s linear infinite;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  opacity: 0;
}